@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
:root{
    --primary-background: hsl(256, 26%, 20%);
    --primary-blue:  hsl(216, 30%, 68%);
    --darker-gray: hsl(270, 9%, 17%);
    --medium-grey: hsl(273, 4%, 51%);
    --lighter-grey: hsl(0, 0%, 98%);
}

body{
    /* background-color: var(--lighter-grey); */
    overflow-x: hidden;

    
}
.header{
    width:100%;
    height: 100%;
    
}
.nav-header{
    background: var(--lighter-grey);
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: inherit;
    top: 0;
    z-index: 20;
}
.nav-container{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav-container>nav ul li{
    list-style: none;
    display: inline;
    margin-left: 1.5rem;

}
.nav-container nav ul li a{
    text-decoration: none;
    color: var(--medium-grey);
    text-transform: uppercase;
}

.header-btn{
    padding: 0.5rem 1.5rem;
    background: inherit;
    text-transform: uppercase;
    border: 2px solid var(--medium-grey);
}
.header-btn:hover{
    background: var(--darker-gray);
    color: var(--lighter-grey);
    cursor: pointer;
    
}
.nav-container>nav> ul >li:hover{
    color: var(--darker-gray);
    font-weight: 700;
}
.curly-lines > img{
    position: absolute;
    right: 0;
    top: -5rem;
    z-index: 10;
}
.curly-lines2 > img{
    position: absolute;
    left: 0;
    top: 25rem;
}

.main-header{
    background-color: var(--primary-background);
    padding: 0 8rem;
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
    gap: 2rem;
    position: relative;
    
}
.main-header-left{
    margin-top: 8rem;
    
}
.main-header-left,
.main-header-right{
    flex: 1;
}
.line{
    width:10rem;
    height: 1px;
    background-color: var(--lighter-grey);
    margin-bottom: 5rem;
}
.main-header-left h1{
    color: var(--lighter-grey);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 4rem;
    width: 95%;
    line-height: 1.2;
}

.main-header-left p{
    color: var(--lighter-grey);
    margin: 2rem 0;
    line-height: 1.5;
    width: 90%;
}
.main-header-right img{
    margin-top: 5rem;
    position: relative;
    width: 100%;
    bottom: -3rem;
}
.main-header-left button{
    padding: 0.5rem 1.5rem;
    background: inherit;
    text-transform: uppercase;
    color: var(--lighter-grey);
    border: 2px solid var(--lighter-grey);
    
}

.main-header-left button:hover{
    background: var(--lighter-grey);
    color: var(--primary-background);
    cursor: pointer;
}


.section-container{
    margin-top: 20rem;
    width: 100%;
    height: 100vh;
    padding: 0 8rem;
}

.line2{
    width:10rem;
    height: 1px;
    background-color: var(--darker-gray);
    margin-bottom: 5rem;
}
.section-container h1{
    color: var(--darker-gray);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 4rem;
    width: 95%;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.qualities{
    display: flex;
    gap: 2rem;
}
.quality-items img{
    height: 4rem;
    width: 4rem;
    margin-bottom: 2rem;
}
.quality-items h2{
    margin-bottom: 1.5rem;
    font-family: "DM Serif Display", serif;
}
.quality-items p{
    color: var(--medium-grey);
}
.about{
    background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: 100%;
    display: flex;
    margin: 0 8rem;
    background-color: var(--primary-background);
    align-items: center;
    padding: 3rem;
    justify-content: space-between;
    position: relative;
    
}

.about h1{
    color: var(--lighter-grey);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 3rem;
    width: 50%;
    line-height: 1.2;
}
.about button{
    
    padding: 0.5rem 1.5rem;
    background: inherit;
    text-transform: uppercase;
    color: var(--lighter-grey);
    border: 2px solid var(--lighter-grey);
    z-index: 15;
}

.about button:hover{
    background: var(--lighter-grey);
    color: var(--primary-background);
    cursor: pointer;
}

footer{
    background: var(--lighter-grey);
    background-image: url("./images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    margin-top: 15%;
    
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 8rem;
}

.top-right{
    display: flex;
    gap: 1rem;
}
.top-right img:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-out;
    filter: brightness(0);
    cursor: pointer;
    
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 2rem 8rem;
    padding-right: 3rem;
    

}

.footer-bottom > section>h3{
    color: var(--medium-grey);
    padding-bottom: 2rem;
    font-weight: 700;

}

.footer-bottom > section>ul>li{
    color: var(--darker-gray);
    list-style: none;
    line-height: 1.5rem;
    font-weight: 700;
}
.footer-bottom > section>ul>li:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer > hr{
    margin: 0 8rem;
}
 
.icon-menu{
    display: none;
}

.header-mobile-btn{
    display: none;
}

@media (max-width:600px) {
    body{
        position: relative;
    }
    .nav-header{
        padding: 1rem;
    }
    .header-btn{
        display: none;
    }
    .icon-menu{
        display: block;
    }
    .main-header{
        
        padding: 0 0 0 0;
        margin: 0;
        border: 0;
        flex-direction: column-reverse;
        padding-top: 0;
        height: fit-content;
        gap: 0;
        position: static;
    }
    .curly-lines, .curly-lines2{
        display: none;
    }
    .main-header-left{
        /* width: 100%; */
        height: 100vh;
        margin: 5rem 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    
    }
    .line{
        display: none;
    }
    .main-header-left h1{
        font-size: 2.3rem;
        width: 100%;
        line-height: 3rem;
        
    }
    .main-header-left p{
        text-align: center;
        margin: 2rem 1rem;
    }

    .main-header-right img{
    margin-top: 4rem;
    bottom: 0;
}

    .section-container{
        padding: 2rem;
        height: 100%;
    }
    .line2{
        margin: 0 auto;
    }
    .section-container h1{
        margin-top: 2rem;
        font-size: 2.3rem;
        text-align: center;
    }
       
    .qualities{
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
    .quality-items {
        justify-content: center;
        text-align: center;
        align-items: center;
        align-self: center;
    }
    .about{
        background-position: 5%;
        flex-direction: column;
        margin: 6rem 2rem;
        padding: 2rem 1rem;
        height:15rem ;
        align-items: center;
        justify-content: center;
        

    }
    .about > h1{
        text-align: center;
        font-size: 2rem;
        width:100%;
        line-height: 1;
        margin-bottom: 2rem;

    }

    .nav-container nav{
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--primary-background);
        background-image: url(./images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        transform: translateX(-150%);
        transition:all 1s ease-in-out;
    }
    .nav-container nav ul{
        margin-top: 3rem;
    }
    .nav-container nav ul li{
        display: block;
        text-align: center;
        margin-bottom: 2rem;
    }
    .nav-container nav ul li a{
        font-size: 1.5rem;
        color: var(--lighter-grey);
    }
    .header-mobile-btn{
        display: block;
        margin: 1rem auto;
        padding: 0.8rem 2rem;
        background: inherit;
        outline: none;
        border: 1px solid var(--lighter-grey);
      
    }

    .footer-bottom, .footer-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
    }
    .footer-bottom{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-bottom > section>ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-bottom > section>h3{
        text-align: center;
        padding: 2rem;
    }
    footer > hr{
    margin: 3rem 2rem;

    width: 80%;
    }
    .top-left{
        margin-bottom: 3rem;
    }

   
}



